*{
    font-family: sans-serif;
}


#headerFont{  
    color: rgb(241, 237, 235);
    text-align: center;
    font-size: 150px !important;
    font-weight: bold;
}

.subHeadingleft{
    color: rgb(255, 118, 54);
    font-size: 16px;
    margin-bottom: 1px;
}
h4{
    color: orange
}
p{
    font-weight: bold !important;
}
article p{
    margin-top: 1px;
    font-size: 12px;
}
